@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
p {
  padding-bottom: 0;
}
:root {
  --text-title-color-light: #dedded;
  --text-desc-color-light: #222;
  --text-desc2-color-light: #777;
  --background-color-primary-light: #ffffff;
  --background-color-secondary-light: #f9f9ff;

  --text-title-color-dark: #dedded;
  --text-desc-color-dark: #222;
  --background-color-primary-dark: #ffffff;
  --background-color-secondary-dark: #f9f9ff;

  --primary-color: #69b4fd;
  --success-color: #4cd3e3;
  --info-color: #38a4ff;
  --danger: #f44a40;
  --link-color: #5046e5;
}
* {
  padding-bottom: 0;
}
body {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}
a:not(.navbar a) {
  text-decoration: none !important;
  color: var(--link-color) !important;
}

.main-container.light {
  background-color: var(--background-color-primary-light);
  color: var(--text-desc-color-light);
}
.main-container.light .even-section {
  background-color: var(--background-color-secondary-light);
}

.main-container.dark .even-section {
  background-color: var(--background-color-secondary-dark);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #fff;

    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
  }
} */

@media (prefers-color-scheme: no-preference) {
  :root {
    --background-color: #fff;
    --text-color: #333;

    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
  }
}

.main-container.dark {
  background-color: #333333;
  color: #ffffff;
}

.form-label {
  font-size: 14px;
  margin-bottom: 5px;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
  outline: none !important;
  border: 2px solid var(--link-color) !important;
}
::placeholder {
  color: #525354 !important; /* Change this to your desired placeholder color */
}
.form-control:not(.form-control:textarea) {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  border: 1px solid #dedede !important;
  font-size: 14px !important;
  height: 38px !important;
}
.validated .form-control:invalid:focus {
  box-shadow: none !important;
}
.Snackbar_snackbar-custom__161zc.Snackbar_snackbar-showIcon__rOFJK {
  width: unset !important;
}
/* Loading spinner styles */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Content styles */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
}

pre {
  background: #222;
  padding: 10px;
  color: #ffffff;
}
input[type="file"] {
  /* Hide the default text */
  color: transparent;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  padding: 5px;
  font-size: 16px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--link-color);
  border-right: none;
}
.pagination li:last-child {
  border-right: 1px solid var(--link-color);
}
.pagination li.active {
  background-color: var(--link-color);
  color: #ffffff !important;
}
.pagination li.active a {
  color: #ffffff !important;
}
/* Tooveride the default boootstarap width for Container */

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}
@media (max-width: 480px) {
  .navbar-nav a {
    margin: 0 !important;
  }
  /* .Snackbar_snackbar-custom__161zc {
    bottom: 15px !important;
  }
.Snackbar_snackbar-custom__161zc{
  bottom: auto !important;
} */
}

@media (max-width: 767px) {
  .Snackbar_snackbar-custom__161zc.Snackbar_snackbar-open__1M-1U {
    top: 50px !important;
  }
}
